src/build-asp-net-core-web-api/NZWalks.API/NZWalks.API/bin/Debug/net10.0/NZWalks.API.pdb
*.dll
*.pdb
*.dll
src/build-asp-net-core-web-api/NZWalks.API/NZWalks.API/obj/Debug/net10.0/rjsmrazor.dswa.cache.json
/src/build-asp-net-core-web-api/NZWalks.API/NZWalks.API/obj/Debug/net10.0
src/build-asp-net-core-web-api/NZWalks.API/NZWalks.API/obj/Debug/net10.0/NZWalks.API.sourcelink.json
src/build-asp-net-core-web-api/NZWalks.API/NZWalks.API/obj/Debug/net10.0/NZWalks.API.pdb
*.dll
src/build-asp-net-core-web-api/NZWalks.API/NZWalks.API/obj/Debug/net10.0/rjsmrazor.dswa.cache.json
/src/build-asp-net-core-web-api/NZWalks.API/NZWalks.API/obj
src/build-asp-net-core-web-api/NZWalks.API copy/NZWalks.API/obj/Debug/net10.0/.NETCoreApp,Version=v10.0.AssemblyAttributes.cs
src/build-asp-net-core-web-api/NZWalks.API copy/NZWalks.API/obj/Debug/net10.0/apphost
src/build-asp-net-core-web-api/NZWalks.API copy/NZWalks.API/obj/Debug/net10.0/NZWalks..A36796ED.Up2Date
src/build-asp-net-core-web-api/NZWalks.API copy/NZWalks.API/obj/Debug/net10.0/NZWalks.API.AssemblyInfo.cs
src/build-asp-net-core-web-api/NZWalks.API copy/NZWalks.API/obj/Debug/net10.0/NZWalks.API.AssemblyInfoInputs.cache
src/build-asp-net-core-web-api/NZWalks.API copy/NZWalks.API/obj/Debug/net10.0/NZWalks.API.assets.cache
src/build-asp-net-core-web-api/NZWalks.API copy/NZWalks.API/obj/Debug/net10.0/NZWalks.API.csproj.AssemblyReference.cache
src/build-asp-net-core-web-api/NZWalks.API copy/NZWalks.API/obj/Debug/net10.0/NZWalks.API.csproj.CoreCompileInputs.cache
src/build-asp-net-core-web-api/NZWalks.API copy/NZWalks.API/obj/Debug/net10.0/NZWalks.API.csproj.FileListAbsolute.txt
src/build-asp-net-core-web-api/NZWalks.API copy/NZWalks.API/obj/Debug/net10.0/NZWalks.API.dll
src/build-asp-net-core-web-api/NZWalks.API copy/NZWalks.API/obj/Debug/net10.0/NZWalks.API.GeneratedMSBuildEditorConfig.editorconfig
src/build-asp-net-core-web-api/NZWalks.API copy/NZWalks.API/obj/Debug/net10.0/NZWalks.API.genruntimeconfig.cache
src/build-asp-net-core-web-api/NZWalks.API copy/NZWalks.API/obj/Debug/net10.0/NZWalks.API.GlobalUsings.g.cs
src/build-asp-net-core-web-api/NZWalks.API copy/NZWalks.API/obj/Debug/net10.0/NZWalks.API.MvcApplicationPartsAssemblyInfo.cache
src/build-asp-net-core-web-api/NZWalks.API copy/NZWalks.API/obj/Debug/net10.0/NZWalks.API.MvcApplicationPartsAssemblyInfo.cs
src/build-asp-net-core-web-api/NZWalks.API copy/NZWalks.API/obj/Debug/net10.0/NZWalks.API.pdb
src/build-asp-net-core-web-api/NZWalks.API copy/NZWalks.API/obj/Debug/net10.0/NZWalks.API.sourcelink.json
src/build-asp-net-core-web-api/NZWalks.API copy/NZWalks.API/obj/Debug/net10.0/ref/NZWalks.API.dll
src/build-asp-net-core-web-api/NZWalks.API copy/NZWalks.API/obj/Debug/net10.0/refint/NZWalks.API.dll
src/build-asp-net-core-web-api/NZWalks.API copy/NZWalks.API/obj/Debug/net10.0/rjsmcshtml.dswa.cache.json
src/build-asp-net-core-web-api/NZWalks.API copy/NZWalks.API/obj/Debug/net10.0/rjsmrazor.dswa.cache.json
src/build-asp-net-core-web-api/NZWalks.API copy/NZWalks.API/obj/Debug/net10.0/rpswa.dswa.cache.json
src/build-asp-net-core-web-api/NZWalks.API copy/NZWalks.API/obj/Debug/net10.0/staticwebassets.build.endpoints.json
src/build-asp-net-core-web-api/NZWalks.API copy/NZWalks.API/obj/Debug/net10.0/staticwebassets.build.json
src/build-asp-net-core-web-api/NZWalks.API copy/NZWalks.API/obj/Debug/net10.0/staticwebassets.build.json.cache
src/build-asp-net-core-web-api/NZWalks.API copy/NZWalks.API/obj/Debug/net10.0/swae.build.ex.cache
src/build-asp-net-core-web-api/NZWalks.API copy/NZWalks.API/obj/NZWalks.API.csproj.nuget.dgspec.json
src/build-asp-net-core-web-api/NZWalks.API copy/NZWalks.API/obj/NZWalks.API.csproj.nuget.g.props
src/build-asp-net-core-web-api/NZWalks.API copy/NZWalks.API/obj/NZWalks.API.csproj.nuget.g.targets
src/build-asp-net-core-web-api/NZWalks.API copy/NZWalks.API/obj/project.assets.json
src/build-asp-net-core-web-api/NZWalks.API copy/NZWalks.API/obj/project.nuget.cache
src/build-asp-net-core-web-api/NZWalks.API/NZWalks.API/Migrations/20251231094332_InitialMigration.cs
